body {
    font-family: 'Old Standard TT', serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {font-family: 'Oswald', sans-serif;}
input, button {
    font-family: 'Oswald', sans-serif;
    font-size: medium;
}
input { 
    padding: 10px;
    border: 0;
}
button { 
    height: 10px;
    padding: 10px;
}
.big { font-size: large; }
.headerBox {
    padding: 20px;
}

.headerBox, section, footer, hr {
    max-width: 1024px;
    margin: 0 auto;
}
footer { 
    padding-top: 30px;
    text-align: center;
}
header {
    background-color: #3d3d3d;
    color: white;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  
.flex-item2 {
    flex: 50%;
    padding: 5px 2%;
}
.flex-item3 {
    flex: 33.33%;
    padding: 5px 2%;
}
.lightGray {
    background-color: #fafafa;
    padding: 50px;
}
.phSmall { 
    background-color: #d8d8d8;
    width: 30px;
    height: 30px;
}
.phMed {
    background-color: #d8d8d8;
    width: 70%;
    height: 30px;
}
.phLarge {
    background-color: #d8d8d8;
    width: 70%;
    height: 150px;
}
#logo {
    display: block;
    margin: 0 auto;
    width: 50%;
    margin: 20px auto 30px;
}
.tele {
    width: 30px;
    margin: 10px;
}
.videoSection { 
    padding: 50px 25%; 
}
.youtube-responsive-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    }
.youtube-responsive-container iframe, .youtube-responsive-container object, .youtube-responsive-container embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        }
#subscribe { margin: 30px; }
.buttonLink {
    font-family: 'Oswald', sans-serif;
    display: block;
    width: 50%;
    border: 2px solid #3d3d3d;
    text-decoration: none;
    color: black;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.margin { margin: 0 2%; }
#recMemb { margin-bottom: 30px; }
@media screen and (max-width: 600px) {
    .buttonLink { width: 70%; }
    input {width:80%; display: block; margin: 5px auto;}
    #logo { width: 80%; }
    .flex-container {flex-direction: column;}
    .flex-item2, .flex-item3 {flex: 100%;}
    .videoSection { padding: 50px 2%; }
  }